
if SHIELD_KEY5_DONGLE

config ZMK_KEYBOARD_NAME
	default "key5"
	
config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif


if SHIELD_KEY5_DONGLE || SHIELD_KEY5_MAIN
    
config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y
    
config ZMK_SLEEP
    default y

endif