#include "mate.dtsi"

// dummy pin for dongle
&default_transform {
    columns = <1>;
    rows = <1>;
        map = <RC(0,0)>;
};

&kscan0 {
    row-gpios
        = <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    ;
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
    ;
};
