#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "DefaultLayout";
        transform = <&default_transform>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100     0    0       0     0     0>
            , <&key_physical_attrs 100 100   120    0       0     0     0>
            , <&key_physical_attrs 100 100   220    0       0     0     0>
            , <&key_physical_attrs 100 100   320    0       0     0     0>
            , <&key_physical_attrs 100 100   420    0       0     0     0>
            , <&key_physical_attrs 100 100   520    0       0     0     0>
            , <&key_physical_attrs 100 100   700    0       0     0     0>
            , <&key_physical_attrs 100 100   800    0       0     0     0>
            , <&key_physical_attrs 100 100   900    0       0     0     0>
            , <&key_physical_attrs 100 100  1000    0       0     0     0>
            , <&key_physical_attrs 100 100  1100    0       0     0     0>
            , <&key_physical_attrs 100 100  1220    0       0     0     0>
            , <&key_physical_attrs 100 100     0  100       0     0     0>
            , <&key_physical_attrs 100 100   110  100       0     0     0>
            , <&key_physical_attrs 100 100   210  100       0     0     0>
            , <&key_physical_attrs 100 100   310  100       0     0     0>
            , <&key_physical_attrs 100 100   410  100       0     0     0>
            , <&key_physical_attrs 100 100   510  100       0     0     0>
            , <&key_physical_attrs 100 100   710  100       0     0     0>
            , <&key_physical_attrs 100 100   810  100       0     0     0>
            , <&key_physical_attrs 100 100   910  100       0     0     0>
            , <&key_physical_attrs 100 100  1010  100       0     0     0>
            , <&key_physical_attrs 100 100  1110  100       0     0     0>
            , <&key_physical_attrs 100 100  1220  100       0     0     0>
            , <&key_physical_attrs 100 100     0  200       0     0     0>
            , <&key_physical_attrs 100 100   100  200       0     0     0>
            , <&key_physical_attrs 100 100   200  200       0     0     0>
            , <&key_physical_attrs 100 100   300  200       0     0     0>
            , <&key_physical_attrs 100 100   400  200       0     0     0>
            , <&key_physical_attrs 100 100   500  200       0     0     0>
            , <&key_physical_attrs 100 100   720  200       0     0     0>
            , <&key_physical_attrs 100 100   820  200       0     0     0>
            , <&key_physical_attrs 100 100   920  200       0     0     0>
            , <&key_physical_attrs 100 100  1020  200       0     0     0>
            , <&key_physical_attrs 100 100  1120  200       0     0     0>
            , <&key_physical_attrs 100 100  1220  200       0     0     0>
            , <&key_physical_attrs 100 100     0  300       0     0     0>
            , <&key_physical_attrs 100 100   120  300       0     0     0>
            , <&key_physical_attrs 100 100   220  300       0     0     0>
            , <&key_physical_attrs 100 100   320  300       0     0     0>
            , <&key_physical_attrs 200 100   420  300       0     0     0>
            , <&key_physical_attrs 200 100   710  300       0     0     0>
            , <&key_physical_attrs 100 100   900  300       0     0     0>
            , <&key_physical_attrs 100 100  1000  300       0     0     0>
            , <&key_physical_attrs 100 100  1100  300       0     0     0>
            , <&key_physical_attrs 100 100  1220  300       0     0     0>
            ;
    };
};
