if SHIELD_KEYB_DONGLE

config ZMK_KEYBOARD_NAME
	default "keyb"
	
config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y

config ZMK_USB
    default y

endif

    
if SHIELD_KEYB_DONGLE || SHIELD_KEYB_MAIN
    
config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y
    
config ZMK_SLEEP
    default y
    
endif